.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.model{
  height: fit-content;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e04848;
  background: #ffffff;
  margin-top: 8%;
}
.myContainer{
  display: grid;
  place-items: center;
  background: white;
  width: 100%;
  height: 100%;
}

input.ng-invalid.ng-touched{
  border: 2px dashed red;
}
