<h1>Dynamic Dropdown</h1>
<hr>
<div class="row">
    <div class="col-2">
        <textarea id="inpStr" name="inpStr" [(ngModel)]="inpString" rows="8" cols="40" (input)="updateValue()"></textarea>

    </div>
    <div class="col-9">
    <div style="margin-left: 40%;">
        <select *ngFor='let root of nestedArray;let i=index'#now (change)="nestedArraySelected[i]=now.value;onChange(i,now.value); " name="cars" id="cars">
            <option *ngFor='let keys of nestedArray[i]' value="{{keys}}">{{keys}}</option>
        </select><br>
    </div>
<br>
    </div>
</div>

