<div class="myContainer">
    <div class="model">
        <h1>ALL WIDGETS</h1>
        <button type="button" routerLink="addressMap" class="btn btn-info m-4">Address Map</button>
        <button type="button" routerLink="payUmoney" class="btn btn-info m-4">PayU Money</button>
        <button type="button" routerLink="dynDropdown" class="btn btn-info m-4">Dynamic Dropdown</button>
    </div>
</div> 
<router-outlet></router-outlet>
