#profileCard{
  min-height: 200px;
  max-width: 300px;
  margin: auto;
  border: 3px solid gray;
  padding: 2px;
  border-radius: 5px;
}
#proName{
  color: darkgreen;
  font-size: x-large;
}
#proDet{
  height: fit-content;
  color: #6b6464;
}
input{
  outline: none;
}
button{
  outline: none;
}

.model{
  height: fit-content;
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #676565;
  background: #dbe9ea;
  font-size: 2rem;
  text-align: center;
  margin-top: 8%;
}
.myContainer{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
