input{
  font-size: 18px;
}
.mainContainer{
  display: flex;
  justify-content: center;
  justify-items: center;
}

.formContainer{
  width: fit-content;
  background-color: white;
  height: fit-content;
  padding: 20px;

}

.full-width {
  width: 100%;
}
.normal-height{
  font-size: 14px;
  size: auto;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.whiteBack{
  background-color: rgba(255, 255, 255, 0.0);
}

.butPosTopRight{
  position: absolute;
  top: -30px;
  right: -40px;
}
