<h1>Core featre Module</h1>
<hr>
<h2>Implementation of Child Routes, Shared Module, Feature module, Lazy Loading ...</h2>
<a class="nav-link"  aria-current="page" href="#" routerLink="dashboard">Dashboard</a>
<a class="nav-link"  aria-current="page" href="#" routerLink="test">Test</a>
<a class="nav-link"  aria-current="page" href="#" routerLink="flow">Flow</a>

<hr>
<div class="form-group">
  <label for="file">Choose File</label>
  <form enctype="multipart/form-data">
    <input type="file"
           id="file"
           name="myfile"
           (change)="handleFileInput($event)">
    <button type="button" class="btn btn-info" (click)="uploadFileToActivity()">Save</button>
  </form>

</div>

<router-outlet></router-outlet>

