.model{
    height: fit-content;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #756d6d;
    background: #dbe9ea;
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
  }
  .myContainer{
    display: grid;
    place-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    top: 100px;
  }
  #map {
    height: 700px;
    width: 100%;
    border: 2px dashed red;
  }

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
.custom-map-control-button:hover {
    background: #ebebeb;
  }
  