<div class="myContainer">
    <div class="model">
        <h1>addressmap works!</h1>
        <div #mapContainer id="map"></div>

        <div>
            <h2>Country: {{country}}</h2>
            <h2>State: {{state}}</h2>
            <h2>Local: {{local}} </h2>
        </div>
    </div>
</div>