<div class="myContainer">
  <div class="row justify-content-center">
    <a id="googlelogin" (click)="loginWithGoogle()" >
      <div id="login">
        <div style="float:left;padding-right: 10px">
          <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" alt="Google Logo" height="27" width="27">
        </div>
        <span >Signup with Google</span>
      </div>
    </a>
  </div>
  <div class="model shadow-lg m-5">
    <h3>Register user</h3>
    <form class="row g-3 align-items-center">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">First  Name</div>
          <input type="text" [(ngModel)]="fname" class="form-control" name="fname" placeholder="First Name">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-text">Last Name</div>
          <input type="text" [(ngModel)]="lname" class="form-control" name="lname"  placeholder="Last Name">
        </div>
      </div>


      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">User Name     </div>
          <input type="text" [(ngModel)]="userName" (keyup)="checkUserAvl($event)" class="form-control" name="usr" id="inlineFormInputGroupUsername" placeholder="Choose a username">
        </div>
      </div>

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Your Email</div>
          <input type="text" [(ngModel)]="email" class="form-control" name="email"  placeholder="Enter your email">
        </div>
      </div>

      <div class="col-12">
        <div class="input-group">
          <div class="input-group-text">Password</div>
          <input type="password" [(ngModel)]="password" class="form-control" name="pswd" placeholder="Enter a strong password">
        </div>
      </div>



      <div class="col-12">
        <button type="button" (click)="registerUser()" [disabled]="disableRegister" class="btn btn-success"> Register User</button>
      </div>
    </form>
  </div>
  <p class="fs-5" *ngIf="showMessage">
    {{regProcessMessage}}
    <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
  </p>
</div>
