<div class="myContainer">
  <div class="model shadow-lg m-5">
    <h3>Verify Your Mobile Number</h3>
    <form class="row align-items-center">
      <div class="row mt-3">
        <div class="col-12 justify-content-center">
          <div class="input-group">
            <div class="input-group-text">Mobile Number</div>
            <input type="text" [(ngModel)]="mobileNumber" [readOnly]="readonlyInput" class="form-control" name="mobile" placeholder="Enter your Mobile Number">
          </div>
          <div *ngIf="otpSent" class="input-group mt-3">
            <div class="input-group-text">OTP</div>
            <input type="text" [(ngModel)]="enteredOtp" class="form-control" name="otp" placeholder="Enter recieved OTP">
          </div>
        </div>
        <h4 class="help-text text-muted">A OTP will be send on your provided mobile</h4>
      </div>

      <div class="col-12 justify-content-center">
        <button *ngIf="!otpSent" type="button" (click)="sendOtp()" class="btn btn-success  "> Send OTP</button>
        <button *ngIf="otpSent" type="button" (click)="verifyOtp()" class="btn btn-success"> Verify OTP</button>
      </div>
    </form>
  </div>
  <p class="bg-light fs-5 text-muted" *ngIf="showMessage">
    {{logProcessMessage}}      <img src="assets/images/Cube.gif" alt="spinner" height="40" width="40">
  </p>
</div>
