.model{
  height: fit-content;
  width: 40%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #756d6d;
  background: #dbe9ea;
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;
}
.myContainer{
  display: grid;
  place-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  margin-top: 90px;
}
