<h1><b>Take operator</b> used to specify a particular number od operator</h1>
<div class="row m-4">
  <div class="col-3">
    <h3><b>All names</b></h3>
    <ul id="orignal"></ul>
  </div>
  <div class="col-3">
    <h3><b>Take: taking only 3 from START</b></h3>
    <ul id="one"></ul>
  </div>
  <div class="col-3">
    <h3><b>Take Last: taking only 3 from LAST</b></h3>
    <ul id="two"></ul>

  </div>
  <div class="col-3">
    <h1 id="stop" style="cursor:pointer;">Click to stop Emit, [take Until]</h1>
    <h3><b>Take until: Until a condition(observable) triggers</b></h3>
    <ul id="three"></ul>
  </div>
</div>
<hr>

<div class="row m-5">
  <h1>Combine Latest & WithLatestFrom</h1>
  <div class="row">
    <h2>Combine Latest</h2>
    <hr>
    <div class="col-3">
      <select name="name" id="names" class="form-control" #nameTemp>
        <option *ngFor="let name of names" value="{{name}}">{{name}}</option>
      </select>
    </div>
    <div class="col-8">
      <h1>Result of Combine Latest : Emits when both change</h1>
      <div id="combineLatestResult" class="d-flex"></div>
    </div>
  </div>
  <div class="row">
    <h2>With Latest From</h2>
    <hr>
    <div class="col-3">
      <select name="name" id="colors" class="form-control" #colorTemp>
        <option *ngFor="let name of colors" value="{{name}}">{{name}}</option>
      </select>
    </div>
    <div class="col-8">
      <h1>Result of Combine Latest: Emits when change in the master element, (master-slave scenario)</h1>
      <div id="withLatestResult" class="d-flex"></div>
    </div>
  </div>
</div>

<br><br>
